// ---- Color Variables ---- //
$dark-primary-color: $blue-grey-900;
$primary-color: $grey-800;
$light-primary-color: $grey-300;
$text-color: $grey-50;
$accent-color: $light-green-500;
$primary-text-color: $grey-900;
$secondary-text-color: $grey-700;
$divider-text-color: $grey-400;

$arrhythmia-blue: rgb(52,97,136);
$arrhythmia-light-blue: rgb(81,122,158);
$arrhythmia-light-red: rgb(255,106,134);
$arrhythmia-red: rgb(194,65,95);

$arrhythmia-background: #f7f7f7;

$arrhythmia-peach-1: rgb(255,242,232);
$arrhythmia-peach-2: rgb(255,232,215);
$arrhythmia-peach-3: rgb(255,221,195);
$arrhythmia-peach-4: rgb(255,210,175);
$arrhythmia-peach-5: rgb(255,198,155);

// ---- Font Variables ---- //

$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
$type-primary: 'Roboto Mono', $font-stack;
$type-secondary: 'Roboto', $font-stack;

// ---- Screen Variables ---- //

$screen-phone: 321px;
$screen-widephone: 481px;
//$screen-tablet: 769px;
$screen-widetablet: 1025px;
$screen-computer: 1300px;
$screen-widecomputer: 1680px;
$screen-full: 100%;

$screen-tablet: 1150px;

$screen-mobile: 775px;

// ---- Grid Variables ---- //

$debug-border: 0px;
$grid-columns: 12;
