<footer class="footer">
	<div class="footer-wrapper">
		<div class="text">
			Made with love in New Orleans.
			<div class="copyright">Copyright &#169; 2015 Lime Studios / Liam Craver</div>
		</div>
		<div class="signup">
			<div class="header">Get Lime News</div>
			<form action="//limestudios.us9.list-manage.com/subscribe/post?u=459a2b45d7c52080e24293c0e&amp;id=be79ee3395" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" placeholder="Enter your email here..." class="required-email" id="mce-EMAIL">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_459a2b45d7c52080e24293c0e_be79ee3395" tabindex="-1" value=""></div>
			    <div class="clear submit-wrapper"><input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">{{> done}}</div>
			</form>
		</div>
	</div>
</footer>