---
component: navbar
---
<div>
  <a href="/">HOME</a>
  <a href="/streams">STREAMS</a>
  <a href="/talks">TALKS</a>
  <a href="/notes">NOTES</a>
  <a href="/contact">CONTACT</a>
  <a href="/presskit">PRESSKIT</a>
  <a href="/blog">BLOG</a>
</div>