<div class="projects-wrapper row row-computer">
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
    <div class="col col-c-4 col-wt-6 col-t-12 col-wp-12">
        <div class="box">Primer Project</div>
    </div>
</div>