---
component: sticky-header
---
<div class="header" id="header" >
  <div class="header-wrapper row row-computer">    
    <div class="title col col-c-6 col-wt-6 col-t-2">
      <div class="logo">{{> lime}}</div>
      <div class="text">studios</div>
    </div>
    
    <nav class="col col-c-6 col-wt-6 col-t-10 hide-on-wp hide-on-p">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="/">Projects</a>
        </li>
        <li class="nav-item">
          <a href="/social">Social</a>
          {{!-- Streams / Talks / Blog --}}
        </li>
        <li class="nav-item">
          <a href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/presskit">Presskit</a>
        </li>
      </ul>
    </nav>
  </div>
</div>