.arrhythmia-wrap {
  padding: 0 16px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: $type-arrhythmia;

  .image-wrapper {
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  .image-wrapper {
    img {
      margin: 24px auto;
      max-width: 100%;
      display: block;

      &.center {
        margin-left: auto;
        margin-right: auto;
        display: block;

        &.small {
          max-width: 128px;
        }

        &.medium {
          max-width: 256px;
        }

        &.large {
          max-width: 512px;
        }

        &.full-width {
          width: 100%;
        }
      }

      &.float {
        float: left;
        margin: 0;
        padding: 0;
        @include clearfix();

        &.xsmall {
          max-width: 25%;

          &.border {
            max-width: calc(25% - 16px);
            padding: 8px;
          }

          @media (max-width: $screen-tablet) {
            max-width: 25%;

            &.border {
              max-width: calc(25% - 16px);
              padding: 8px;
            }
          }

          @media (max-width: $screen-widephone) {
            max-width: 50%;

            &.border {
              max-width: calc(50% - 16px);
              padding: 8px;
            }
          }
        }

        &.small {
          max-width: 25%;

          &.border {
            max-width: calc(25% - 16px);
            padding: 8px;
          }

          @media (max-width: $screen-tablet) {
            max-width: 33.333%;

            &.border {
              max-width: calc(33.333% - 16px);
              padding: 8px;
            }
          }
        }

        &.medium {
          max-width: 33.333%;

          &.border {
            max-width: calc(33.333% - 16px);
            padding: 8px;
          }

          @media (max-width: $screen-tablet) {
            max-width: 50%;

            &.border {
              max-width: calc(50% - 16px);
              padding: 8px;
            }
          }
        }

        &.large {
          max-width: 50%;

          &.border {
            max-width: calc(50% - 16px);
            padding: 8px;
          }

          @media (max-width: $screen-tablet) {
            max-width: 100%;

            &.border {
            }
          }
        }

        &.full-width {
          max-width: 100%;
        }
      }

      &.round {
        border-radius: 100%;
        object-fit: cover;

        &.small {
          min-height: 128px;
        }

        &.medium {
          min-height: 256px;
        }

        &.large {
          min-height: 512px;
        }

        &.full-width {
          height: 100%;
        }
      }
    }
  }

  .quotes {
    display: flex;
    align-content: left;
    justify-content: flex-start;
    margin-left: -24px;
    margin-top: -24px;
    flex-wrap: wrap;
    
    p.quote {
      display: block;
      width: 400px;
      margin: 24px 24px;
    }

    @media (max-width: 920px) {
      margin-top: -24px;
      margin-left: 0px;
      p.quote {
        margin: 24px 0px 0px;
      }
    }

    .arrhythmia-button {
      margin-top: 8px;
    }
  }

  nav.arrhythmia_top {

    height: 48px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin-top: 0px;
    top: 0px;
    background: #222222;

    @media (max-width: 700px) {
      height: 96px;
    }

    ul {
      list-style: none;
      display: flex;
      height: 100%;
      align-items: stretch;
      justify-content: center;
      align-content: center;
      margin: 0px;
      padding: 0px;
      flex-wrap: wrap;

      a {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 16px;
        transition: 0.1s background ease-in-out;

        &:hover {
          li {
            color: #222222;
          }
          background: $arrhythmia-background;
        }

        li { 
          transition: 0.1s color ease-in-out;
          display: block;
          font-family: $type-arrhythmia;
          font-size: 16px;
          color: $arrhythmia-background;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }
  }

  h3 {
    font-family: $type-arrhythmia;
  }

  .logo {
    width: 100%;
    height: 128px;
    margin-top: 80px;

    @media (max-width: 700px) {
      margin-top: 128px;
    }

    img {
      max-height: 128px;
      padding-right: 16px;
      float: left;
    }

    h2 {
      font-family: $type-arrhythmia;
      font-weight: 400;
      letter-spacing: 8px;
      font-size: 32px;
      line-height: 32px;
      text-transform: uppercase;
      width: calc(40% - 144px);
      float: left;
    }

    .quote {
      float: right;
      width: 60%;
      text-align: right;
      padding: 0px 0px 0px 128px;
      box-sizing: border-box;
    }

    @media (max-width: $screen-widephone) {

      height: 64px;

      img {
        float: left;
        max-height: 64px;
      }

      h2 {
        font-size: 16px;
        line-height: 16px;
        padding: 0px 0;
        float: none;
      }
    }

    @media (max-width: $screen-tablet) {
      h2 {
        float: left;
        width: auto;
      }

      .quote {
        display: none;
      }
    }
  }

.preorder {
  width: 552px;
  margin: 0 auto;

  .itch {
    margin-top: 32px;
    display: block;
  }

  .steam {
    display: block;
  }

  .small {
    display: none;
  }

  @media (max-width: 600px) {
    width: 320px;

    .itch, .steam {
      display: none;
    }

    .small {
      display: block;
    }
  }
}

  .trailer {
    margin: 32px 0px;

    .play-button {
      background-image: url(/assets/img/posts/game/project-arrhythmia/play-button.png);
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .flex-video {
      background-image: url(/assets/img/posts/game/project-arrhythmia/trailer-image.png) !important;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      //border: 2px solid $red-300;
    }
  }

  .social {
    br {
      display: none;
    }

    @media (max-width: $screen-widephone) {
      br {
        display: block;
      }

      margin-top: -6px;
    }
  }

  a.arrhythmia-button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    font-family: $type-arrhythmia !important;
    background-color: $grey-300;
    display: inline-block;
    color: $grey-900;
    display: inline-block;

    &.twitter {
      background-color: $blue-400;
      color: white;
    }

    &.discord {
      background-color: $indigo-500;
      color: white;
    }

    &:hover {
      background-color: $red-300 !important;
      color: white !important;
      box-shadow: none;
    }

    &.twitter:hover {
      background-color: $blue-800 !important;
    }

    &.discord:hover {
      background-color: $indigo-900 !important;
    }


    @media (max-width: $screen-tablet) {
      margin: 8px 0px;
    }
  }

  form {
    margin: 0 0;
    padding: 0 !important;
    max-width: 640px;

    .clear {
      clear: none !important;
    }

    input[type=email] {
      font-size: 14px;
      line-height: 14px;
      height:16px;
      text-indent: 8px !important;
      max-width: 300px;
      float: left;
      font-family: $type-arrhythmia !important;
      border-radius: 0px !important;
      border: none !important;
    }

    input[type=submit] {
      letter-spacing: 2px;
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      padding: 0 8px !important;
      font-family: $type-arrhythmia !important;
      background-color: $grey-300 !important;
      display: inline-block;
      color: $grey-900 !important;
      border-radius: 0px !important;
      //margin-top: 16px !important;
      margin: 16px 0 !important;
      transition: 0s !important;

      &:hover {
        background-color: $red-300 !important;
        color: white !important;
        box-shadow: none;
      }
    }

    div.mce_inline_error {
      margin: 0 0 0 8px !important;
      border: 2px solid $red-300;
      line-height: 20px;
      background-color: $red-300 !important;
      color: white !important;
      height: 18px !important;
      font-family: $type-arrhythmia !important;
      border-radius: 0px !important;
      margin-bottom: 0px !important;
    }

    .mc-field-group {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
      min-height: 0px !important;
    }

    #mce-responses {
      margin: 0px !important;
    }

    @media (max-width: $screen-tablet) {

      .mc-field-group {
        width: 100% !important;
      }

      input[type=email] {
        max-width: 320px;
        width: 100% !important;
        float: none;
      }

      div.mce_inline_error {
        margin: 8px 0 0 0 !important;
        padding-right: 8px !important;
      }
    }

    @media (max-width: $screen-widephone) {
      input[type=email] {
        max-width: 100%;
      }
    }
  }
}
