form {
  margin: 48px auto 48px auto;
  font-family: $type-secondary;
}

input, textarea {
  height: 64px;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  background: $light-primary-color;
  border: none;
  //border-bottom: solid 2px @black;
  color: $primary-text-color;
  padding: 0 40px;
  width: 98%;

  &:focus, &:active {
    outline: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
  }

  &[type="submit"] {
    margin: 24px auto;
    width: 100%;
    display: block;
    background-color: $grey-900;
    font-size: 17px;
    color: $grey-100 !important;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    height: 64px;

    &:active, &:hover {
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
      z-index: 1000;
    }
  }
}

textarea {
  height: 500px !important;
}

.input-group {
  margin: 24px auto 42px auto;
  display: block;
  position: relative;

  input, textarea {
    padding: 0;
  }

  label {
    position: absolute;
    transform: translateY(-10px);
    top: 32px;
    left: 16px;
    color: $primary-text-color;
    pointer-events: none;
    transition: all 0.15s ease;
    font-family: $type-secondary;
    font-weight: 300;
    font-size: 17px;
  }

  input:focus + label,
  input.has-value + label,
  textarea:focus + label,
  textarea.has-value + label {
    top: -14px;
    left: 0px;
    font-size: 17px;
  }

  /* BOTTOM BARS */

  .bar::before {
    content: '';
    height: 100%;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background: $primary-text-color;
    transition: 0.1s ease all;
  }

  /* inactive state */
  input ~ .bar:before, input ~ .bar:after {
    width: 2%;
  }

  textarea ~ .bar:before, textarea ~ .bar:after {
    width: 2%;
  }

  span.description {
    opacity: 0;
    position: absolute;
    top: 110%;
    left: 0px;
    color: $red-500;
    pointer-events: none;
    transition: all 0.1s ease;
    font-size: 12px;
  }

  span.description-textarea {
    top: 101%;
  }

  /* invalid state */
  input:invalid:focus ~ span {
    opacity: 1;
    color: $red-500;
  }

  textarea:invalid:focus ~ span {
    opacity: 1;
    color: $red-500;
  }

  input:invalid:focus ~ .bar:before, input:invalid:focus ~ .bar:after {
    animation: bar-red 0.2s ease-out;
    animation-fill-mode: forwards;
  }

  textarea:invalid:focus ~ .bar:before, textarea:invalid:focus ~ .bar:after {
    animation: bar-red 0.2s ease-out;
    animation-fill-mode: forwards;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    animation: bar 0.2s ease-out;
    animation-fill-mode: forwards;
  }

  textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    animation: bar 0.2s ease-out;
    animation-fill-mode: forwards;
  }
}

textarea {
  height: 100%;
  resize: none;
}

@-webkit-keyframes bar {
  0% { background: $primary-text-color; }
  100% { background: $green-500; }
}

@-webkit-keyframes bar-red {
  0% { background: $primary-text-color; }
  100% { background: $red-500; }
}
