h2.portfolio {
  color: $grey-800;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-family: $type-secondary;
  font-weight: 400;
  padding: 24px 0 24px 48px;
  margin: 0 auto;
  font-style: normal;
  font-variant: normal;
  line-height: 40px;
}
