.post-wrap {
  display: flex;
  //min-height: 100vh;

  @media (max-width: $screen-mobile) {
    display: block;
  }
}

.post-sections{
  max-width: 1680px;
  margin: 0 auto;
  flex: 1;

  // FLEX CLASSES

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex--center {
    justify-content: center;
  }

  .flex--space-around {
    justify-content: space-around;
  }

  .order-first {
    order: -1;
  }

  &.post-sections-normal {
    position: relative;
    top: 256px;
  }

  &.post-sections-shrink {
    position: relative;
    top: 96px;
  }
}
