---
layout: default.hbs
title: About
headline: About
subhead: A little bit about myself.
---
<!-- About -->
<section class="about row row-tablet">
  <div class="col image-wrapper">
    <img class="me" src="/assets/img/about/liam.png"></img>
  </div>
  <div class="col about-text">
    <p class="text-body-1">
      My name is Liam Craver; I am a developer and a designer from New Orleans, Louisiana.
      My passion is technology; I'm always eager to learn about the latest gadgets or the
      new features that are in the latest patches of my favorite software.
    </p>
    <p class="text-body-1">
      I am an alumnus of <a href="http://www.nocca.com/" class="block">New Orleans Center for Creative Arts</a> and <a href="http://www.edline.net/pages/bfhsla" class="block">Benjamin Franklin HighSchool</a>;
      currently I am pursuing a computer science degree at the <a href="http://www.louisiana.edu/" class="block">University of Louisiana at Lafayette</a>.
    </p>
    <p class="text-body-1">
      I work freelance when I can during the schoolyear, but especially during the summer;
      if you want, check out my <a href="http://limestudios.net/" class="block">work page</a>. I'm open to working on projects of all sorts!
    </p>
    <p class="text-body-1">
      Most of the time, I am a pretty ordinary person. I say things on <a href="http://www.twitter.com/studioslime" class="block">Twitter</a> and <a href="https://plus.google.com/+LiamCraver" class="block">Google+</a>.
      My code ends up on <a href="http://www.github.com/lcraver" class="block">GitHub</a> most of the time.
    </p>
    <p class="text-body-1">
      The purpose of this website is to serve as an online repository for writings, documents, and work.
      The colophon and code styleguide document the processess used to build it and the
      <a href="https://github.com/limestudios/limestudios-site" class="block">source can be found on GitHub</a>.
    </p>
    <p class="text-body-1">
      If you have any questions or feedback, you may want to email me at
      <a href="mailto:liam@limestudios.net?subject=LimeStudios Site" class="block">liam@limestudios.net</a>
      —which you should definitely do since I love to talk.
    </p>
  </div>
</section>
