---
layout: default.hbs
title: Project Arrhythmia
headline: Project Arrhythmia
subhead: A game about music and heart.
---
<section class="project-arrhythmia row row-fullwidth">
  <section class="row row-tablet youtube-videos">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLXhzG3V4Yyvg4a392jOp0W3uMDYoysH9T" frameborder="0" allowfullscreen></iframe>
  </section>
  <section class="status">
    <section class="col status-in-progress">
      <h2>IN PROGRESS FEATURES</h2>
      <div class="loader status-in-progress">Loading...</div>
    </section>
    <section class="col status-planned">
      <h2>PLANNED FEATURES</h2>
      <div class="loader status-planned">Loading...</div>
    </section>
    <section class="col status-bugs">
      <h2>BUGS</h2>
      <div class="loader status-bugs">Loading...</div>
    </section>
  </section>
</section>
