---
layout: none
title: Project Arrhythmia
headline: Project Arrhythmia
subhead: A game about music and heart.
css: arrhythmia-styles
---
{{> open}}
<body class="press-kit">
  <div class="press-kit">
    <div class="container desktop">
      <div class="row">
        <div class="three columns nav">
          <h4>Lime Studios</h4><br>
          <ul class="second-font">
            <li><a href="#factsheet" class="button button-primary">FactSheet</a></li>
            <li><a href="" class="button button-primary">Description</a></li>
            <li><a href="" class="button button-primary">History</a></li>
            <li><a href="" class="button button-primary">Team</a></li>
            <li><a href="" class="button button-primary">Contact</a></li>
            <li><a href="" class="button button-primary">Arrhythmia</a></li>
            <ul>
              <li><a href="" class="button">Videos</a></li>
              <li><a href="" class="button">Images</a></li>
              <li><a href="" class="button">Logos & Icons</a></li>
              <li><a href="" class="button">Awards</a></li>
              <li><a href="" class="button">Selected Articles</a></li>
            </ul>
          </ul>
        </div>
        <div class="nine columns content">
          <img src="/assets/img/site/logo/Lime Studios.png"/><br>
          <section id="#factsheet" class="factsheet second-font">
            <div class="six columns">
              Developer:<br>
              Lime Studios<br>
              Based in New Orleans, LA<br>
              <br>
              Website:<br>
              limestudios.net
            </div>
            <div class="six columns">
              Founding Date:<br>
              2009<br>
              <br>
              Press / Business contact:<br>
              liam@limestudios.net
            </div>
          </section>
          <section class="construction">
            STILL UNDER CONSTRUCTION! SORRY, PLEASE COME BACK LATER!
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
{{> footer}}
{{> close}}
