---
layout: arrhythmia.hbs
title: Project Arrhythmia
headline: Project Arrhythmia
subhead: A game about music and heart.
css: arrhythmia-styles
---
<div class="container">
  <div class="row">
    <iframe class="trailer" src="https://www.youtube.com/embed/KaudaGKUZDg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="container second-font">
  <div class="row">
    <a href="http://limestudios.itch.io/project-arrhythmia" class="three columns button button-primary">Itch.io</a>
    <a href="http://blog.projectarrhythmia.com" class="three columns button button-primary">Blog</a>
    <a href="/arrhythmia-press-kit" class="three columns button button-primary">Press Kit</a>
    <a href="/contact" class="three columns button button-primary">Contact Us</a>
  </div>
</div>
