---
layout: arrhythmia.hbs
ref: press-kit
title: Project Arrhythmia
subtitle: A rhythmic adventure in which all things beautiful are deadly.
nav-selection: press kit
css: arrhythmia-styles
---
<div class="press-kit-container">
  <div class="row row-tablet">
    <div class="col-p-12 col-wp-12 col-t-3 col-wt-3 col-c-3 sidebar hide-on-wp hide-on-p">
      <a href="#FactSheet">FactSheet</a><br>
      <a href="#Description">Description</a><br>
      <a href="#History">History</a><br>
      <a href="#Branding">Branding</a><br>
    </div>
    <div class="col-p-12 col-wp-12 col-t-9 col-wt-9 col-c-9">
      <!-- FACTSHEET -->
      <div id="FactSheet" class="row">
        <h4>Fact Sheet</h4>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Developer:</b><br>
          <a href="http://limestudios.net">Lime Studios</a><br>
          Based in New Orleans, LA
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Founding Date:</b><br>
          2011<br>
          <br>
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Website:</b><br>
          <a href="http://limestudios.net">limestudios.net</a><br>
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Press / Business Contact:</b><br>
          <a href="mailto:liam@limestudios.net?subject=LimeStudios Site">liam@limestudios.net</a><br>
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Twitter:</b><br>
          <a href="https://twitter.com/_limestudios">Lime Studios</a><br>   
          <a href="https://twitter.com/liamcraver">Liam Craver</a><br>
          <a href="https://twitter.com/projarrhythmia">Project Arrhythmia</a><br>
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Tumblr:</b><br>
          <a href="http://blog.limestudios.com/">Lime Studios</a><br>      
          <a href="http://lcraver.tumblr.com/">Liam Craver</a><br>
          <a href="http://blog.projectarrhythmia.com/">Project Arrhythmia</a><br>
        </p>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-6 col-c-6">
          <b>Phone:</b><br>
          <a href="tel:15048126126">1 (504) 812-6126</a><br>
        </p>
      </div>
      <!-- DESCRIPTION -->
      <div id="Description" class="row">
        <h4>Description</h4>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-12 col-c-12">
          Lime Studios is a small New Orleans-based independent game development studio.
        </p>
      </div>
      <!-- HISTORY -->
      <div id="History" class="row">
        <h4>History</h4>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-12 col-c-12">
          The founder of Lime Studios (Liam Craver) came up with the name after years 
          of people mispronouncing his name in bizzare ways. Some said liem, some limen 
          but in the end it made him decide to go with Lime Studios as the name for the studio.
        </p>
      </div>
      <!-- BRANDING -->
      <div id="Branding" class="row">
        <h4>Branding</h4>
        <p class="col-p-12 col-wp-12 col-t-12 col-wt-12 col-c-12">
          <a href="/assets/img/site/logo/Lime Studios.png">
            <img src="/assets/img/site/logo/Lime Studios.png"/>
          </a>
          <a href="/assets/img/site/logo/lime.png">
            <img src="/assets/img/site/logo/lime.png"/>
          </a>
          <a href="/assets/img/site/logo/liam.png">
            <img src="/assets/img/site/logo/liam.png"/>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>