---
layout: default.hbs
title: Home
active: work
---
<div class="intro">
	<div class="blurb">
		<div class="main">An indie game development studio</div>
		<div class="sub">
			Lime Studios is a solo game development and design studio based in New Orleans operated by Liam Craver.
		</div>
		<a class="button button-primary " href="/contact">About Me</a>
	</div>
</div>
<div class="main-content">
	<div class="description-col">
		<div class="wrapper">
			<div class="title">Project Arrhythmia</div>
			<div class="content">
				A rhythmic adventure in which all things beautiful are deadly. 
				Avoid the musically timed pulse of blocks and bars, and in the 
				process you might just find out what this mysterious "Project Arrhythmia" is.
			</div>
			<a class="button button-primary " href="http://projectarrhythmia.com">Learn More</a>
		</div>
	</div>
	<div class="links-col">
		<a href="http://blog.projectarrhythmia.com">
			<article class="dev-blog">
				<div class="title">Dev Blog</div>
			</article>
		</a>
		<a href="https://twitter.com/projarrhythmia">
			<article class="twitter">
				<div class="title">Twitter</div>
			</article>
		</a>
	</div>
	<div class="links-col">
		<a href="http://limestudios.net/arrhythmia-press-kit/">
			<article class="press-kit">
				<div class="title">Press Kit</div>
			</article>
		</a>
		<a href="http://projectarrhythmia.com">
			<article class="website">
				<div class="title">Website</div>
			</article>
		</a>
	</div>
</div>