// colors and values
@white          :   rgb(238,238,238); // rgb(248,248,248)
@light-grey     :   rgb(153,153,153); //rgb(223, 229, 234)
@grey           :   rgb(100,100,100);
@dark-grey      :   rgb(64,64,64);
@black      :   rgb(35,35,35);

@about-accent       :   rgb(80,175,105);
@work-accent        :   rgb(104,167,204);
@arrhythmia-accent  :   rgb(238,145,148);
@contact-accent     :   rgb(255,213,127);

@design         :   rgb(230,84,87);
@video          :   rgb(78,255,214); // @video-old: rgb(179,255,198);
@audio          :   rgb(0,218,255);

@red            :   rgb(235,144,147);
@green          :   @video;
@blue           :   @audio;

@color-twitter  :   rgb(0,172,237);
@color-facebook :   rgb(59,89,152);
@color-google   :   rgb(221, 75, 57);

// paddings and margins
@base-padding   :   25px;
@base-margin    :   25px;
@base           :   25px;

// borders and underlines
@base-border    :   1px solid;
@base-box-shadow:   0px 0px 1px 1px rgba(10,10,11,0.2);

// type
@type-primary               :   'Roboto Light', @font-stack;
@type-italic                :   'Roboto Light Italic', @font-stack;
@type-primary-bold          :   'Roboto', @font-stack;
@type-primary-bold-italic   :   'Roboto Italic', @font-stack;
@type-secondary             :   'Roboto', @font-stack;
@type-secondary-bold        :   'Roboto Bold', @font-stack;
@font-stack                 :   'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@font-size-big              :   48px;
@font-size-normal           :   28px;
@font-size-small            :   16px;

@header-height: 82px;
@header-height-scrolling: 25px;

// the !important variable
@important: !important;
