body.error {
    padding:0 0;
    margin:0 0;
    height: 100%;
    background:grey;
}

main.error {
    display:table;
    height:100%;
    width:100%;
}

section.error {
    background: @arrhythmia-accent;
    padding: 80px 0;
    display: table-row;
    height: 100%;
}

section.error h1 {
    text-align: center;
    font-size: 48px !important;
    font-weight: 700 !important;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 40px 10px;
}

section.error h1 span {
    display: inline-block;
    padding: 0.3em 0.5em;
    border: @white solid 10px;
}

section.error .subtitle {
    text-align: center;
    font-size: 18px;
    //font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: @white;
    line-height: 1;
    font-family: @type-primary;
    //padding-bottom: 40px;
    //white-space: nowrap;
    margin: 0 auto;
    //width: 450px;
    padding: 0px 8px 60px 8px;
    max-width: 550px;
}

section.error .subtitle a {
    color: lighten(@white, 10%);
    .transition();
    font-family: @type-primary-bold;
    border-bottom: 0px solid;
}

section.error p.subtitle a:hover {
    color: lighten(@white, 20%);
    border-bottom: 2px solid;
}

section.error footer {
    display: table-row;
}