// Page Color

body.error {
  
  overflow: hidden;
  
  width: 100%;
  
  .glitch:before {
    //background: @blog-accent;
  }
  
  .glitch:after {
    //background: @blog-accent;
  }
}

// End Page Color

body.error {
    padding:0 0;
    margin:0 0;
    height: 100%;
    background: @blog-accent;
}

main.error {
    display:table;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.error {
    background: @blog-accent;
    display: table-row;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    //min-height: 100vh;
}

section.error h1 {
    text-align: center;
    font-size: 48px !important;
    font-weight: 700 !important;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

section.error h1 span {
    display: inline-block;
    //padding: 0.3em 0.5em;
    border: @white solid 10px;
    width: 480px;
    height: 120px;
    .font-error();
    line-height: 120px;
}

section.error .subtitle {
    text-align: center;
    color: @white;
    margin: 0 auto;
    margin-top: 64px;
    padding: 0 16px;
    .font-body-h3();
    //text-transform: uppercase;
    max-width: 650px;
}

section.error .subtitle a {
    color: lighten(@white, 10%);
    font-weight: @font-weight-medium;
    text-transform: uppercase;
}

section.error footer {
    display: table-row;
}

@media screen and (max-width: 960px) and (min-width: 650px) {
  section.error h1 span {
    width: 480px;
    height: 120px;
    .font-error();
    line-height: 120px;
  }
}

@media screen and (max-width: 650px) {
  section.error h1 span {
    width: 256px;
    height: 64px;
    .font-error-mobile();
    line-height: 64px;
  }
}