// HEADER / FOOTER

section.work header {
    background: @work-accent !important;
}

footer {
    //background: lighten(@about-accent, 5%) !important;
  .transition(0.25s);
}

// WORK

section.work {
  overflow-x: hidden;
  .transition(0.25s);
}

section.work .default-content {
    padding: 0;
}

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  .transition(0.25s);
}

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left;
}

.work .thumb-container {
    max-width: 960px;
    margin: 32px auto 32px;
    background: @light-grey;
    .clearfix();
}

.work .thumb-container .thumb-unit {
    display: block;
    width: 25%;
    //height: 150px;
    background: pink;
    float: left;
    position: relative;
    padding-top: 16%;
    overflow: hidden;
    
    background: url(/assets/img/site/projects/test.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 540px) {
    .work .thumb-container .thumb-unit {
        width: 100%;
        padding-top: 45%;
    }
    
    section.default-content {
        padding: 0;
    }
}

@media screen and (max-width: 720px) and (min-width: 540px) {
    .work .thumb-container .thumb-unit {
        width: 50%;
        padding-top: 25%;
    }
    
    section.default-content {
        padding: 0;
    }
}

.work .thumb-container .thumb-unit .thumb-overlay {
    .transition(0.2s);
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: fade(@work-accent, 80%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .thumb-container .thumb-unit:hover .thumb-overlay {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    left: 0;
}

.work .thumb-container .thumb-unit .thumb-overlay strong {
    display: block;
    padding: 0px 20px;
    color: @white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
}

.work .work-container {
    max-width: 960px;
    margin: 32px auto 32px;
    //background: @light-grey;
    .clearfix();
    display: none;
    .transition(0.25s);
}

.work .work-container h4 {
  color: @work-accent;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0 0 20px;
  .transition(0.25s);
}

.work .work-container img {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.work .work-return {
  .square(48px);
  display: inline-block;
  .transition(0.25s);
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

.work .work-return:hover {
  opacity: 1;
}

.work .work-return svg {
  .square(48px);
  position: relative;
  left: -64px;
  top: -10px;
  .transition(0.25s);
}

.work .work-return svg path {
    //fill: lighten(@work-accent, 20%);
    fill: @grey;
}

@media (max-width: 1164px) {
  .work .work-return {
    position: absolute;
  }
  
  .work .work-container h4 {
    margin-left: 64px;
  }
  
  .work .work-return svg {
    left: 0;
  }
} 