// HEADER / FOOTER

section.arrhythmia header {
    background: @arrhythmia-accent !important;
}

footer {
    //background: lighten(@about-accent, 5%) !important;
}

// PAGE

div.arrhythmia {
  
  max-width: 650px;
  margin: 0 auto;
  //background: @light-white-grey;
  
  h2.quote {
      //background: @light-grey;
      margin: 0 auto;
      padding: 20px 16px;
      .font-body-h2();
      text-align: left;
      background: @grey;
      color: @white;
  }

  .blurb {
      max-width: 650px;
      padding: 50px 16px;
      margin: 0 auto;
      background: @white-grey;
  }

  .blurb strong {
      color: lighten(@arrhythmia-accent, 0%);
  }

  .blurb p {
      //padding-left: 32px;
      text-transform: none;
      .font-body-h3();
  }

  .blurb p a {
      color: lighten(@arrhythmia-accent, 0%);
      .transition();
  }

  .blurb p a:hover {
      color: darken(@arrhythmia-accent, 10%);
      border-bottom: 2px solid;
  }

  section.trailer {
      padding: 64px 0;
      margin: 0 auto;
  }

  .right-laurel-branch {
      display: inline-block;
      float: left;
  }

  .right-laurel-branch svg {
      height: 128px;
      width: 64px;
      fill: @white;
  }

  .awards {
      max-width: 780px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      padding: 32px 0 32px;
      font-size: 0;
      background: @grey;
      color: @white;
  }

  .awards article {
      text-align: center;
      margin: 20px auto;
  }

  .awards article p {
      float: left;
      text-align: center;
      line-height: 18px;
  }

  .awards article p span.h1 {
      font-size: 12px;
      white-space: nowrap;
      line-height: 22px !important;
  }

  .awards article p span.h2 {
      font-size: 14px;
      white-space: nowrap;
      line-height: 22px !important;
  }

  .awards article p span.h3 {
      font-size: 16px;
      white-space: nowrap;
      line-height: 20px !important;
  }

  .left-laurel-branch {
      display: inline-block;
      float: left;
  }

  .left-laurel-branch svg {
      height: 128px;
      width: 64px;
      fill: @white;
  }
}

@media screen and (max-width: 650px) {
  div.arrhythmia {
    
    h2.quote {
      margin: 0 auto;
    }
    
    .awards {
        display: block;
        text-align: center;
        padding: 20px 0 20px;
    }

    .awards article {
        display: inline-block;
    }

    .blurb p {
        padding-left: 0;
    }

    section.trailer {
    }
  }
}