// HEADER / FOOTER

section.work header {
    background: @work-accent !important;
}

footer {
    //background: lighten(@about-accent, 5%) !important;
}

// WORK

section.work {
  overflow-x: hidden;
  .transition(0.25s);
}

section.work .default-content {
    padding: 0;
    .clearfix();
}

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  .transition(0.25s);
}

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left;
  margin: 25px auto;
}

.work .thumb-container {
    max-width: 960px;
    margin: 0 auto;
    //background: @light-grey;
    .clearfix();
}

.work .thumb-container a {
  margin: 1%;
  padding: 2% 1%;
  //text-align: center;
  float: left;
  width: 46%;
  //.clearfix();
  background: @light-white-grey;
  display: flex;
  align-items: center;
  color: @grey;
}

.work .thumb-container a:hover {
  background: @light-grey;
  //color: @white;
}

.work .thumb-container a img.icon {
  .square(64px);
  margin-right: 24px;
}

.work .thumb-container a div.icon {
  .square(64px);
  margin: 16px;
  margin-right: 24px;
  background: @work-accent;
  color: @white;
  font-family: @type-primary-bold;
  font-size: 36px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

.work .thumb-container a p.info {
  margin: 0;
}

.work .work-container {
    max-width: 960px;
    margin: 32px auto 32px;
    //background: @light-grey;
    .clearfix();
    display: none;
    .transition(0.25s);
}

.work .work-container h4 {
  color: @work-accent;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0 0 20px;
  .transition(0.25s);
}

.work .work-container img {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.work .work-return {
  .square(48px);
  display: inline-block;
  .transition(0.25s);
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

.work .work-return:hover {
  opacity: 1;
}

.work .work-return svg {
  .square(48px);
  position: relative;
  left: -64px;
  top: -10px;
  .transition(0.25s);
}

.work .work-return svg path {
    //fill: lighten(@work-accent, 20%);
    fill: @grey;
}

@media screen and (max-width: 650px) {
  .work .thumb-container a {
    width: 94%;
    margin: 2% 2% 0 2%;
  }
  
  .work .thumb-container a:last-child {
    margin-bottom: 2%;
  }
  
  .work .thumb-container a:nth-child(odd) {
    background: @white-grey;
  }
  
  .work .thumb-container a:nth-child(odd):hover {
    background: @light-grey;
  }
}

@media screen and (max-width: 1164px) {
  .work .work-return {
    position: absolute;
  }
  
  .work .work-container h4 {
    margin-left: 64px;
  }
  
  .work .work-return svg {
    left: 0;
  }
} 