<!-- About -->
<section class="about row row-tablet">
  <div class="col image-wrapper">
    <img class="me" src="/assets/img/about/liam.jpg"></img>
  </div>
  <div class="col about-text">
    <p class="text-body-1">
      My name is Liam Craver; I am a developer and a designer from New Orleans, Louisiana.
      My passion is technology; I'm always eager to learn about the latest gadgets or the
      new features that are in the latest patches of my favorite software.
    </p>
    <p class="text-body-1">
      I am an alumnus of <a href="http://www.nocca.com/" class="block">New Orleans Center for Creative Arts</a> and <a href="http://www.edline.net/pages/bfhsla" class="block">Benjamin Franklin HighSchool</a>;
      currently I am pursuing a computer science degree at the <a href="http://www.louisiana.edu/" class="block">University of Louisiana at Lafayette</a>.
    </p>
    <p class="text-body-1">
      I work freelance when I can during the schoolyear, but especially during the summer;
      if you want, check out my work page; open to working on projects of all sorts,
      I will fit it in however I can.
    </p>
    <p class="text-body-1">
      Most of the time, I am a pretty ordinary person. I say things on Tumblr and Google+.
      My code ends up on GitHub most of the time.
    </p>
    <p class="text-body-1">
      The purpose of this website is to serve as an online repository for writings, documents, and work.
      The colophon and code styleguide document the processess used to build it and the source can be
      found on GitHub.
    </p>
    <p class="text-body-1">
      If you have any questions or feedback, you may want to email me at studios.lime@gmail.com —which you should definitely do since I love to talk.
    </p>
  </div>
</section>
