<!-- Blog -->
<section id="blog-posts" class="blog-posts">
  {{#withSort post 'this.data.date'}}
        {{#each this.pages}}
          <article class="article-preview article-preview-short-form">
            <header class="article-preview-header">
              <a href="{{href this.dest 'releases/dev-release' ''}}" title="{{this.data.title}}" rel=prefetch role=link>
                {{this.data.title}}
              </a>
            </header>
            <footer class="article-preview-footer">
              <div><time>{{date this.data.date}}</time><div>
            </footer>
          </article>
        {{/each ~}}
      {{/withSort ~}}
</section>
