<!-- Footer -->
<footer class="page-footer">
  <small>
    <span class="page-footer-span">Made with <span class="page-footer-heart">{{> heart}}</span> in New Orleans<br>
    </span>
    <div class="page-footer-legal"><span class="copyright">&copy; </span><script>document.write((new Date).getFullYear());</script> - {{site.author}}</div>
  </small>
</footer>
