<!-- Header -->
<header class="main-header">
    <section class="description">
      <span class="text-headline">Hi, I'm <span class="text-bold">Liam Craver</span>.</span>
      <br>
      <span class="text-subhead">{{site.tagline}}</span>
    </section>
    <section class="logo-wrapper">
        <div class="logo-svg col-p-12 col-wp-12 col-t-8 col-wt-6 col-c-4">
            {{> logo-circle}}
        </div>
    </section>
</header>
