<!-- Header -->
<header>
    <div class="col col-l-12 header">
        <div class="logo-wrapper">
            <div class="logo"> 
                {{> logo-circle}}
            </div>
        </div>
        <div class="header-text">
            <div class="title">{{site.title}}</div>
            <div class="skills">{{site.skills}}</div>
        </div>
    </div>
</header>