<!-- Navigation -->
<nav class="navbar navbar-fixed-top">
    <div class="col col-push-l-1 col-l-10">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="page-scroll">
            <a class="navbar-branding show-on-large hide-on-medium hide-on-small" href="#page-top">
                <div class="logo">
                    {{> logo-square}}
                </div>
                <div class="title">
                    {{site.title}}
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Portfolio</a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>