<!-- Navigation -->
<nav id="top" class="nav-main col-l-12 col-m-12 col-s-12 fixed-nav-bar">
    <div class="nav-collapse">
      <div class="logo">
          <a href="/">{{> logo-circle}}</a>
      </div>
      <ul class="menu hide-on-small">
          {{#each site.nav}}
              <li>
                  <a href="{{this.link}}" class="text-button nav-item">{{this.name}}</a>
              </li>
          {{/each}}
      </ul>
    </div>
</nav>
