{{> open ~}}
<main role=main class="{{page.css}}">
  <section class="page page-default {{page.css}}">

      {{#markdown}}
        {{> body }}
      {{/markdown ~}}
    
  </section><!-- /.default.page -->
</main>
{{> close ~}}