{{> open ~}}
<main role=main>
  <section class="page page-default {{page.css}}">
      
    {{> header}}

    <section class=default-content>
      {{#markdown}}
        {{> body }}
      {{/markdown ~}}
    </section><!-- /default-content -->
    
    {{> author}}
    
  </section><!-- /.default.page -->
</main>
{{> footer}}
{{> close ~}}