---
title: Post One
date: 2014-01-20
post: true
---
<h3>{{page.title}}</h3>

<section>
	<p>
		I am the first post. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, esse, perferendis, earum in sunt voluptate officiis voluptates quam pariatur veritatis quis deleniti fugit expedita aliquam est repellendus autem dolor non?
	</p>
</section>
