/**
 * Load font-files in this order:
 *  1. IE 8+ support: http://caniuse.com/eot
 *  2. Android 2.3+ support: http://caniuse.com/ttf
 *  3. Modern browsers support: http://caniuse.com/woff
 *
 * 2014-04-25
 */

@font-face{
  font-family:'Roboto';
  font-style:normal;
  font-weight:300;
  src:local('Roboto Light'),url(//brick.a.ssl.fastly.net/fonts/roboto/300.eot) format('eot');
  src:local('Roboto Light'),url(//brick.a.ssl.fastly.net/fonts/roboto/300.ttf) format('tff');
  src:local('Roboto Light'),url(//brick.a.ssl.fastly.net/fonts/roboto/300.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-style:italic;
  font-weight:300;
  src:local('Roboto Light Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/300i.eot) format('eot');
  src:local('Roboto Light Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/300i.tff) format('tff');
  src:local('Roboto Light Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/300i.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-style:normal;
  font-weight:400;
  src:local('Roboto'),url(//brick.a.ssl.fastly.net/fonts/roboto/400.eot) format('eot');
  src:local('Roboto'),url(//brick.a.ssl.fastly.net/fonts/roboto/400.tff) format('tff');
  src:local('Roboto'),url(//brick.a.ssl.fastly.net/fonts/roboto/400.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-style:italic;
  font-weight:400;
  src:local('Roboto Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/400i.eot) format('eot');
  src:local('Roboto Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/400i.tff) format('tff');
  src:local('Roboto Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/400i.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-style:normal;
  font-weight:500;
  src:local('Roboto Bold'),url(//brick.a.ssl.fastly.net/fonts/roboto/500.eot) format('eot');
  src:local('Roboto Bold'),url(//brick.a.ssl.fastly.net/fonts/roboto/500.tff) format('tff');
  src:local('Roboto Bold'),url(//brick.a.ssl.fastly.net/fonts/roboto/500.woff) format('woff');
}

@font-face{
  font-family:'Roboto';
  font-style:normal;
  font-weight:500;
  src:local('Roboto Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/500i.eot) format('eot');
  src:local('Roboto Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/500i.tff) format('tff');
  src:local('Roboto Bold Italic'),url(//brick.a.ssl.fastly.net/fonts/roboto/500i.woff) format('woff');
}