.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
nav.push-menu-left {
    top: 0;
    width: 16rem;
    height: 100%;
    background-color: @dark-grey;
}
nav.push-menu-left li {
    display: block;
    text-align: center;
    border-bottom: solid 1px @white;
    //border-top: solid 1px;
    margin: 0 2rem;
    //padding: 1rem 1rem 1rem 1rem;
}
nav.push-menu-left li:first-child {
    border-top: none
}
nav.push-menu-left li:last-child {
    border-bottom: none
}
nav.push-menu-left a {
    display: block;
    //padding: 10px;
    //font-size: 18px;
    color: @white;
    text-transform: uppercase;
}
nav.push-menu-left button.close-menu {
    margin: 10px 0;
    color: @white;
}
nav.push-menu-left {
    left: -16rem
}
body.pml-open nav.push-menu-left {
    left: 0rem;
}
body.pml-open #wrapper {
    left: 16rem
}
.mask {
    transition: all 0.2s;
}
body .mask {
    //left: 0px;
    opacity: 0;
    visibility: hidden;
}
body.pml-open .mask {
    //left: 300px;
    opacity: 1;
    visibility: visible;
}
nav.menu {
    position: fixed;
    z-index: 20;
    overflow: hidden;
    transition: all 0.2s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: all 0.2s;
    width: 100%;
}

.toggle-push-left {
    position: absolute;
    top: 0;
    margin: 16px 16px 16px 18px;
    padding: 0;
    opacity: 0.5;
    transition: all 0.2s;
    text-transform: uppercase;
    background-color: @light-grey;
}

.toggle-push-left:hover {
    opacity: 1;
}

a.nav {
    font-family: @type-primary;
    text-transform: uppercase;
    padding: 1.5rem 0;
    line-height: 1.4;
}
/* small screen properties and values */
@media screen and (max-width: 768px) {
    nav.push-menu-left {width: 16rem}
    nav.push-menu-left {left: -16rem}
    body.pml-open nav.push-menu-left {left: 0rem;}
    body.pml-open #wrapper {left: 16rem}
    .toggle-push-left{margin: 8px 8px 8px 9px}
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    nav.push-menu-left {width: 16rem}
    nav.push-menu-left {left: -16rem}
    body.pml-open nav.push-menu-left {left: 0rem;}
    body.pml-open #wrapper {left: 16rem}
}