<div class="contact-wrapper row">
  <div class="contact row row-tablet">
    <form class="contact-form col" action="//formspree.io/liam@limestudios.net" method="POST">
    <div class="input-group">
      <input name="name" autofocus="" required="" type="text">
      <label>Your Full Name</label>
      <span class="description">This is required.</span>
      <span class="bar"></span>
    </div>

    <div class="input-group">
      <input name="_replyto" required="" type="email">
      <label>Your Email Address</label>
      <span class="description">This is required and must be a valid email.</span>
      <span class="bar"></span>
    </div>

    <div class="input-group textarea">
      <textarea name="message" required="" rows="6"></textarea>
      <label>What would you like to talk about?</label>
      <span class="description">This is required.</span>
      <span class="bar"></span>
    </div>

    <div class="col-p-6 col-wp-6 col-t-3 col-wt-3 col-c-3">
      <input type="submit" value="Send">
    </div>

    <input name="_subject" type="hidden" value="Contact Me Form!">
    <input name="_gotcha" style="display: none;" type="text">
  </form>
  </div>
</div>
