<section class="arrhythmia">
  <div class="flex flex--space-around">
    <div class="col-1">
      <div class="video-strip"></div>
      <div class="flex-video">
        <iframe src="https://www.youtube.com/embed/kOEa4X3nmqA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-1 order-first">
      <h1>Project Arrhythmia</h1>
      <p>A rhythmic adventure in which all things beautiful are deadly. Avoid the musically timed pulse of blocks and bars, and in the process you might just find out what this mysterious "Project Arrhythmia" is.</p>
      <a class="home-cta" href="http://download.projectarrhythmia.com">Download</a>
    </div>
  </div>
</section>
