<section class="container designs" id="designs">
  <div class="row">
    <div class="one-half column dribbble">
      <h2>Finished Designs on Dribbble</h2>


      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/1.png"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/2.png"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/3.gif"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/4.png"/>
      </a>
    </div>
    <div class="one-half column twitter">
      <h2>Works in Progress on Twitter</h2>


      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/1.png"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/2.png"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/3.gif"/>
      </a>
      <a href="" class="design-img-link">
        <img src="/assets/img/projects/dribbble/4.png"/>
      </a>
    </div>
  </div>
</section>
