<section class="designs card-container" id="designs">
  <a class="card half-card" href="http://projectarrhythmia.com">
    <div class="dark">
      <h3 class="title">Finished Designs on Dribbble</h3>
      <div class="card-content">
        <img class="center-full" src="/assets/img/projects/dribbble/4.png"/>
      </div>
      <p class="tag">Link</p>
      <p class="link-icon" href="">
        {% include svg/chevron-right.html %}
      </p>
    </div>
  </a>
  <a class="card half-card" href="http://limestudios.itch.io">
    <div class="light">
      <h3 class="title">Works in Progress on Twitter</h3>
      <div class="card-content">
        <img class="center-full" src="/assets/img/projects/dribbble/3.gif"/>
      </div>
      <p class="tag">Link</p>
      <p class="link-icon" href="">
        {% include svg/chevron-right.html %}
      </p>
    </div>
  </a>
</section>
