<a class="card full-card" href="{% post_url /game/2015-09-29-project-arrhythmia %}">
  <div class="light">
    <section class="heading">
      <h3 class="title">Project Arrhythmia</h3>
    </section>
    <div class="card-content">
      <img class="center-full" src="/assets/img/site/intro.gif"/>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
<!--<a class="card half-card" href="http://limestudios.itch.io">
  <div class="dark">
    <h3 class="title">Other Games</h3>
    <div class="card-content">

    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>-->
