<section class="talks">
  <div class="flex flex--center">
    <div class="col-50">
      <div class="talk-wrap">
        {% for post in site.categories.talk %}
          <a href="{{post.url}}" style="background-image: url(/assets/img/posts/{{post.ref}}/thumb.png)" class="talk-thumb">
            <div class="talk-meta">
              <div class="name">{{post.title}}</div>
              <div class="date">{{post.date | date: "%b %d, %Y"}}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="desc-wrap">
          <h1>Talks</h1>
          <p>A rhythmic adventure in which all things beautiful are deadly. Avoid the musically timed pulse of blocks and bars, and in the process you might just find out what this mysterious "Project Arrhythmia" is.</p>
          <a class="home-cta" href="http://download.projectarrhythmia.com">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>
