<section class="clients">

  <h2 id="clients">Clients</h2>
  
  <div class="client-controls">
    <div class="client-control-next">{{> chevron-left}}</div>
    <div class="client-control-prev">{{> chevron-right}}</div>
  </div>
  
  <div class="clients-belt">
  
    <div class="client-unit">
    
      <div class="client-face">
        <img src="/assets/img/site/clients/face-aaroni.jpg" alt="client-face">
        <strong class="client-name">Scott Summers</strong>
        <em class="client-title">Director of Design, Quebec Int.</em>
      </div>
      
      <div class="client-content">
        <!--<div class="client-quote-mark">"</div>-->
        <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nulla condimentum aliquam mi sed fermentum. Sed a lacus vitae erat hendrerit tempus. Donec scelerisque varius ipsum, id lobortis risus hendrerit in. Vivamus molestie quis quam quis tempor. Donec mattis pellentesque volutpat. Nam et ultrices ante, non ullamcorper metus.
      </div>
      
    </div>
    
  </div>

  <div class="clients-logos">
  
    <div class="client-logo active-client"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
  
  </div>
  
</section>