</div>
<script>
<!-- Include your JS scripts here -->
    (function( window ){

    var body = document.body,
        mask = document.createElement("div"),
        togglePushLeft = document.querySelector( ".toggle-push-left" ),
        pushMenuLeft = document.querySelector( ".push-menu-left" ),
        activeNav
    ;
    mask.className = "mask";
        
    document.body.appendChild(mask);

    /* push menu left */
    togglePushLeft.addEventListener( "click", function(){
        body.classList.add("pml-open");
        //document.body.appendChild(mask);
        activeNav = "pml-open";
    } );

    /* hide active menu if mask is clicked */
    mask.addEventListener( "click", function(){
        body.classList.remove("pml-open");
        activeNav = "";
        //document.body.removeChild(mask);
    } );

    /* hide active menu if close menu button is clicked */
    [].slice.call(document.querySelectorAll(".close-menu")).forEach(function(el,i){
        el.addEventListener( "click", function(){
            body.classList.remove("pml-open");
            activeNav = "";
            //document.body.removeChild(mask);
        } );
    });

})( window );
</script>
</body>
</html>