<header>
    
    <div class="logo">{{> logo-circle}}</div>
    
    {{> nav}}
    
    <h1><span>
      {{page.title}}
      
      {{#if title-addon}}
        {{page.title-addon}}
      {{/if}}
      
      </span></h1>
    <p class="subtitle">{{page.subtitle}}</p>

</header>