<header>
    
    <div class="logo">{{> logo-circle}}</div>
    
    <nav>
        <a href="">About Me</a>
        <a href="">Work</a>
        <a href="">Arrhythmia</a>
        <a href="">Contact</a>
    </nav>
    
    <h1><span>{{page.title}}</span></h1>
    <p class="subtitle">{{page.subtitle}}</p>

</header>