<nav class="menu push-menu-left">
    <ul>
        <!-- <li><button class="close-menu">&#10006</button></li> -->
        <li><a class="nav" href="/">Home</a></li>
        <li><a class="nav" href="/about">About</a></li>
        <li><a class="nav" href="#">Work</a></li>
        <li><a class="nav" href="#">Arrhythmia</a></li>
        <li><a class="nav" href="#">Contact</a></li>
    </ul>
</nav><!-- /slide menu left -->

<div id="wrapper">

<!-- <img class="toggle-push-left" src=/assets/img/site/lime.png> -->
    
<h2 class="toggle-push-left">MENU</h2>