a {
  text-decoration: none;
  color: @dark-primary-color;
}

.line {
  border-bottom: solid 0px @dark-primary-color;
  transition: .25s ease;

  &:hover {
    border-bottom: solid 2px @dark-primary-color;
  }
}

.line-normal {
  border-bottom: solid 0px @text-normal-color;
  transition: .25s ease;

  &:hover {
    border-bottom: solid 2px @text-normal-color;
  }
}