header {
  z-index: 1001;

  .header-position {
    z-index: 1001;
    background: white;
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 0 16px;
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.1);

    opacity: 0;
    animation: fadein calc(0.25s * (1 / #{$tranSpeed})) ease-out;
    animation-fill-mode: forwards;

    transition: background-color 0.25s ease-in-out;

    &.fade-in {
      background-color: rgba(255,255,255,1);
      .header-wrapper {
        opacity: 1;
      }
    }

    &.fade-out {
      background-color: rgba(255,255,255,0.9);
      .header-wrapper {
        opacity: 0.9;
      }
    }

    &.small .logo-wrapper .text {
      font-size: 28px;
    }

    .header-wrapper {
      margin: 0 auto;
      max-width: 1680px;
      height: 100%;
      transition: opacity 0.25s ease-in-out;
    }

    .logo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        height: 100%;
        width: 100%;
        display: block;
        display: flex;
        align-items: center;

        .logo {
          padding: 9px 0;
          height: calc(100% - 18px);
          max-width: 96px;
          margin: 0;
          float: left;
          display: block;
        }

        .text {
          padding-left: 20px;
          float: left;
          font-family: $type-primary;
          font-weight: 300;
          font-size: 56px;
          margin: 0;
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
          color: $grey-800;
        }
      }
    }

    .home-nav {
      float: right;
      ul {
        list-style: none;
        margin: 20px 0 0 0;

        li {
          margin: 0;
          float: left;
          font-size: 16px;

          a {
            color: $grey-900;
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-mobile) {
  header {
    .header-position {
      z-index: 10001;
      .home-nav {
        width: 100%;

        ul {
          padding: 0;
          display: flex;
          justify-content: space-around;

          li a {
            padding-left: 4px;
            padding-right: 4px;
            padding-bottom: 24px;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .logo-wrapper {
        max-width: 96px;
        margin: 0px;
        display: none;
      }
    }
  }
}

@keyframes slideintop {
    0%   { opacity: 0; transform: translateY(-64px); }
    100% { opacity: 1; }
}
