{{>open}}

<body id="page-top" class="article">
  {{> nav }}
  {{> article-header }}
  <section class="article-body row row-tablet">
    {{#markdown}}
      {{> body}}
    {{/markdown}}
  </section>
  {{> social-media}}
  {{> footer }}
  {{> scripts }}
</body>

{{>close}}
