{{>open}}

<body id="page-top">
  {{> nav }}
  {{> article-header }}
  <section class="article-body {{this.title}} row row-widetablet">
    {{#markdown}}
      {{> body}}
    {{/markdown}}
  </section>
  {{> footer }}
  {{> scripts }}
</body>

{{>close}}
