{{>open}}

<body id="page-top">
  {{> nav }}
  {{> header }}
  {{> portfolio }}
  {{> blog-posts }}
  {{> about }}
  {{> contact }}
  {{> footer }}
  {{> scripts }}
  <!--{{> body }} -->
</body>

{{>close}}
