---
title: 404 Error
shortName: error
description: This, kids, is called a 404.
layout: none
---
{{> open }}
<link rel=stylesheet href=/assets/css/error.css>
<body>
<main role=main class=error-page>
  <section class=error-intro>
    <div class=wrapper>
      <h1 class="animated hinge">GAME OVER</h1>
      <br>
      <em>Head on <a href=/ class=line>home</a> and everything will be alright.</em>
    </div>
  </section><!-- /.error-intro -->
</main>
{{> close }}
