---
title: 404 Error
css: error
shortName: error
description: This, kids, is called a 404.
layout: error.hbs
---

<h1><span>{{page.title}}</span></h1>

<p class="subtitle">It's ok something probably didn't explode...or anything...probably. Still you shouldn't hang around too long, why don't you head on [home](/).</p>