---
title: 404
css: error
shortName: error
description: Oh Snap! - 404
layout: error.hbs
---

<h1><span class="glitch" data-text="{{page.title}}">{{page.title}}</span></h1>

<p class="subtitle">Oh man that doesn't look good... Maybe you should head on <a class="line" href="/">Home</a>.</p>