---
title: 404
css: error
shortName: error
description: Oh Snap! - 404
layout: error.hbs
---

<h1><span class="glitch" data-text="{{page.title}}">{{page.title}}</span></h1>

<p class="subtitle">Oh man that doesn't look good... guess my server couldn't find what you wanted. It's probably not my fault but hey let me make it up to you. Here is some <a class="line" href="{{settings.music}}" target="_blank">AWESOME MUSIC</a>. Then after listening maybe you should head on <a class="line" href="/">Home</a>.</p>