---
title: About Me
subtitle: thinker // designer // developer
layout: default.hbs
---

<section>

    <div class="face-lockup flex">
        
        <div class="face-img"></div>
        
        <div class="icon-pencil"></div>
        <div class="icon-code"></div>        
        <div class="icon-browser"></div>
        <div class="icon-video"></div>
        
    </div>
    
    <div class="blurb">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Aliquam pellentesque ligula leo, a blandit risus lobortis at. Quisque at velit dapibus, vestibulum massa sed, malesuada risus. Etiam quam nunc, imperdiet luctus ante in, sollicitudin feugiat ligula. Pellentesque accumsan condimentum euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Curabitur mattis bibendum adipiscing. Quisque gravida nunc vel tempus feugiat. Mauris eu mollis velit. Aenean pulvinar semper tincidunt. Quisque eget placerat massa. Aliquam lobortis diam ut felis pharetra, quis euismod sem tempus. Integer ac malesuada lectus. Fusce viverra justo vel lorem congue congue. Quisque ultricies massa et ullamcorper posuere.</p>
    </div>
    
    <div class="skill-lockup">
    
        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-icon skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Visual Design</div>
            <div class="skill-icon skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">UX Design</div>
            <div class="skill-icon skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icon skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icon skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icon skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icon skill-5">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icon skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    
    </div>
    
</section>