---
title: Blog
layout: default.hbs
css: blog
---

{{#withSort post 'this.data.date'}}
  {{#each this.pages}}
  <article>
    <header>
      <a href="{{findURL this.dest 'dist/development' ''}}" rel=prefetch role=link class=line>
        <em><span class=article-feed-title>{{this.data.title}}</span></em>
      </a>
      <small><time class=article-feed-time>{{prettyDate this.data.date}}</time></small>
    </header>
  </article>
  {{/each ~}}
{{/withSort ~}}