<footer class="footer" id="footer">
  <div class="footer-top">
    <div class="footer-social">
      <div class="icon-wrapper">
        <a href="http://twitter.com/liamcraver" class="twitter">
          {% include svg/twitter.html %}
        </a>
        <a href="http://github.com/lcraver" class="github">
          {% include svg/github.html %}
        </a>
        <a href="https://dribbble.com/lcraver" class="dribbble">
          {% include svg/dribbble.html %}
        </a>
        <a href="https://www.youtube.com/channel/UCK3BRoeWBA5pIB5kH4n-brQ" class="youtube">
          {% include svg/youtube.html %}
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-wrap">
      <a href="/">
      {% include svg/lime.html %}
      </a>

      <section class="copyright">
        made with <span class="red"><3</span> <br>
        &copy; 2009 - <script>document.write(new Date().getFullYear())</script>
      </section>
    </div>
  </div>
</footer>
