<!DOCTYPE html>
	<html lang=en>
	<head>
		<title>{{site.title}} - {{page.title}}</title>
		<meta name=description content="{{#if page.description}}{{page.description}}{{else ~}}{{site.description}}{{/if ~}}">
		<meta charset=UTF-8>
		<meta http-equiv=X-UA-Compatible content="IE=Edge,chrome=1">
		<meta name=viewport content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel=stylesheet href="/assets/css/styles.css">
		<!--[if lte IE 8]><script src="{{site.url}}/assets/js/ie.js"></script><![endif]-->
		<!--<script src=/assets/js/bundle.js></script>-->
		<!--<script src=/assets/js/components.js></script>-->
		<meta name="theme-color" content="#689f38">
		<meta name=keywords content="{{#if page.keywords}}{{page.keywords}},Liam Craver,Lime Studios,Lime,Studios,web design,graphic design,css,html{{else~}}{{site.keywords}}{{/if ~}}">
		<meta name=author content="{{author.name.first}} {{author.name.last}}">
		<meta name=google-site-verification content=7RrfJovl477GocUkq4QOPIybas99RN2zebN46jgN_Lo>
		<meta name=format-detection content="telephone=yes">
		<meta name=apple-mobile-web-app-title content="{{site.title}}">
		<meta property=og:type content="website">
		<meta property=og:title content="{{page.title}}">
		<meta property=og:description content="{{#if page.description}}{{page.description}}{{else ~}}{{site.description}}{{/if ~}}">
		<meta property=og:url content="{{site.url}}">
		<meta property=og:site_name content="{{site.title}}">
		<meta property=og:profile:first_name content={{author.name.first}}>
		<meta property=og:profile:last_name content={{author.name.last}}>
		<meta property=og:image content="{{#if featuredImage}}/assets/{{featuredImage}}{{else ~}}/assets/img/site/icon/48.png">
		<meta property=og:image:type content=image/png>
		<meta property=og:image:width content=1024>
		<meta property=og:image:height content=1024>{{/if ~}}
		<meta name=twitter:card content="summary">
		<meta name=twitter:site content="{{site.title}}">
		<meta name=twitter:title content="{{page.title}}">
		<meta name=twitter:description content="{{#if page.description}}{{page.description}}{{else ~}}{{site.description}}{{/if ~}}">
		<meta name=twitter:creator content="{{author.name.first}} {{author.name.last}}">
		<meta name=twitter:image:src content="{{#if featuredImage}}/assets/{{featuredImage}}{{else ~}}/assets/img/site/icon/48.png{{/if ~}}">
		<meta name="twitter:domain"" content="the Web">
		<link rel=apple-touch-icon-precomposed href=/assets/img/site/icon/60.png>
		<link rel="icon" href="/assets/img/site/icon/16.png" size="16x16">
		<link rel="icon" href="/assets/img/site/icon/32.png" size="32x32">
		<link rel="icon" href="/assets/img/site/icon/48.png" size="48x48">
		<link rel="icon" href="/assets/img/site/icon/64.png" size="64x64">
		<link rel="icon" href="/assets/img/site/icon/128.png" size="128x128">

		<link rel="icon" type="image/png" href="/assets/img/site/icon/32.png">
		<!-- [if IE]><link rel="shortcut icon" href="/assets/img/site/icon/ie.ico"><![endif]-->
		<script>
			//document.getElementById("date").innerHTML = new Date().getTime();
		</script>
	</head>
<body id="page-top" class="{{page.ref}}">
