<section class="post-header {{ page.image }}  {{ page.theme }}" style="background-image: url({{ page.cover-image }}); background-color: {{ page.color }}">
  <div class="post-text">
    <h2>{{ page.title }}</h2>
    {% if page.categories contains 'page' %}
    {% else %}
      {% if page.author %}
        {% if page.updated %}
          <p>Updated by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}</p>
        {% else %}
          <p>Written by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}</p>
        {% endif %}
      {% else %}
        {% if page.updated %}
          <p>Updated on {{ page.date | date: '%B %d, %Y' }}</p>
        {% else %}
          <p>Written on {{ page.date | date: '%B %d, %Y' }}</p>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</section>
