<section class="post-header {{ page.image }} {{ page.theme }} {{ page.categories }}" style="background-image: url({{ page.cover-image }}); background-color: {{ page.color }}">
  <div class="post-text">
    <h2><span>{{ page.title }}</span></h2>
    {% if page.categories contains 'page' %}
    {% else %}
      {% if page.author %}
        {% if page.updated %}
          <p><span>Updated by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}</span></p>
        {% else %}
          <p><span>Written by {{ page.author }} on {{ page.date | date: '%B %d, %Y' }}</span></p>
        {% endif %}
      {% else %}
        {% if page.updated %}
          <p><span>Updated on {{ page.date | date: '%B %d, %Y' }}</span></p>
        {% else %}
          <p><span>Written on {{ page.date | date: '%B %d, %Y' }}</span></p>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  {% if page.platforms %}
    <div class="post-platforms">
      <h2>{{ page.platforms }}</h2>
    </div>
  {% endif %}
</section>
