<a class="card half-card" href="https://www.livecoding.tv/lcraver">
  <div class="dark">
    <section class="heading">
      <h3 class="title">Coding Streams</h3>
    </section>
    <div class="card-content">
      <img class="center-full" src="/assets/img/social/stream.png"/>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
<a class="card half-card" href="https://github.com/lcraver">
  <div class="light">
    <section class="heading">
      <h3 class="title">Github</h3>
    </section>
    <div class="card-content">
      <section class="center-large svg-dark"/>
        {% include svg/github.html %}
      </section>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
<a class="card full-card" href="https://dribbble.com/lcraver">
  <div class="dark">
    <section class="heading">
      <h3 class="title">Dribbble</h3>
    </section>
    <div class="card-content">
      <img class="center-full" src="/assets/img/projects/dribbble/tapedeck.png"/>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
<a class="card half-card" href="https://www.youtube.com/channel/UCK3BRoeWBA5pIB5kH4n-brQ">
  <div class="light">
    <section class="heading">
      <h3 class="title">Youtube</h3>
    </section>
    <div class="card-content">
      <section class="center-large svg-dark"/>
        {% include svg/youtube.html %}
      </section>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
<a class="card half-card" href="https://twitter.com/liamcraver">
  <div class="dark">
    <section class="heading">
      <h3 class="title">Twitter</h3>
    </section>
    <div class="card-content">
      <section class="center-large svg-light"/>
        {% include svg/twitter.html %}
      </section>
    </div>
    <p class="tag">Link</p>
    <p class="link-icon" href="">
      {% include svg/chevron-right.html %}
    </p>
  </div>
</a>
