<header class="arrhythmia">
  <div class="logo"></div>
  <h1 class="title">Project Arrhythmia</h1>
  <h5 class="subtitle">A rhythmic adventure in which all things beautiful are deadly.</h5>
</header>
