footer {
    background: #ccc;
    background-size: cover;
}

footer .lockup {
    padding: 64px 30px;
    .clearfix();
}

footer .lockup .logo {
    .square(64px);
    float: left;
    margin-right: 10px;
}

footer .lockup .logo path{
    fill: @dark-grey;
    opacity: 0.7;
}

footer .lockup .content-wrap {
    margin-top: 4px;
    float:left;
}

footer .lockup .content-wrap nav {
    margin: 0;
}

footer .lockup .content-wrap nav a {
    .font-small-bold(@light-grey);
    margin-right: 10px;
}

footer .lockup .content-wrap nav a:hover {
    color: black;
}

footer .lockup .content-wrap .copyright {
    margin: 0;
    .font-small();
}



// SVG heart & legal links
.page-footer-span {
  display: block;
  margin: 0 auto;
  width: 225px;
  height: auto;
  text-transform: uppercase;
  border: 1px solid @light-grey;
  background: @white;
  line-height: 1.0;
  padding: 5px;
  font-family: @type-secondary;
  user-select: none;
}

.page-footer-heart {
  fill: @design;
  top: -1px;
  svg {
    animation: pulse 3s infinite;
    .transition();
  }
}

.page-footer-legal {
  max-width: 350px;
  margin: 0 auto 1rem auto;
  opacity: 0.3;
  .transition();
  display: none;
}

// pulsing animation for hearts
@-webkit-keyframes pulse {
   0% { -webkit-transform: scale(1); }
  15% { -webkit-transform: scale(1); }
  20% { -webkit-transform: scale(1.3); }
  25% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  35% { -webkit-transform: scale(1.3); }
  40% { -webkit-transform: scale(1); }
 100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
   0% { transform: scale(1); }
  15% { transform: scale(1); }
  20% { transform: scale(1.3); }
  25% { transform: scale(1); }
  30% { transform: scale(1); }
  35% { transform: scale(1.3); }
  40% { transform: scale(1); }
 100% { transform: scale(1); }
}
