header {
    //height: 350px;
    background: @grey;
    //background: lightgreen;
    //background: url(http://www.gratisography.com/pictures/79.jpg) center center;
    //background: url(/assets/img/site/headers/test.jpg) center center;
    background-size: cover;
    //filter: blur(5px);
}

header .logo {
    height: 64px;
    width: 64px;
    //background: #999;
    float: left;
    margin: 10px 0 0 14px;
}

header polygon {
    fill: @dark-grey !important;
    opacity: 0.7;
}

header .logo svg {
    width: 64px;
    height: 64px;
}

header nav {
    float: right;
    margin: 30px 30px 0 0;
    text-align: center;
}

header nav a:last-child {
    margin-right: 0px;
}

header nav a {
    display: inline-block;
    margin-right: 20px;
    
    .font-small-bold(@dark-grey);
    .transition();
    
    border-bottom: 0px solid;
}

header nav a:hover {
    color: darken(@dark-grey, 25%);
    border-bottom: 2px solid;
}

header h1 {
    text-align: center;
    font-size: 48px !important;
    font-weight: 700 !important;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 48px;
}

header h1 span {
    display: inline-block;
    padding: 0.3em 0.5em;
    border: @white solid 10px;
}

header .subtitle {
    text-align: center;
    font-size: 18px;
    //font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: @white;
    line-height: 1;
    font-family: @type-primary;
    padding-bottom: 40px;
}

@media screen and (max-width: 650px) {
    header {
        //height: 220px;
    }
    
    header .logo {
        margin: 0 auto;
        padding: 10px 0;
        float: none;
        display: none;
    }
    
    header nav {
        float: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    
    header nav a {
        font-size: 12px !important;
    }
    
    header h1 {
        padding-top: 20px;
        font-size: 32px !important;
        white-space: nowrap;
    }
    
    header .subtitle {
        font-size: 14px !important;
        padding-bottom: 20px;
    }
}