---
title: My Site's New Branding
subtitle: New Year, New Branding
date-published: 2015-02-17
description: I take you through the steps I took when rebranding Lime Studios this year.
post: true
tag: graphic-design
size: medium
---

<div class="table-of-contents">

{{#markdown}}

#Table of Contents
##[Introduction](#introduction)
* [Goals](#i-goals)

##[Style](#style)
* [Color](#i-color)
* [Icons](#ii-icons)
* [Imagery](#iii-imagery)
* [Typography](#iv-typography)

##[Layout](#layout)
* [Principles](#i-principles)
* [Structures](#ii-structures)

##[Components](#components)
* [Grids](#i-grids)

{{/markdown}}

</div>

#Introduction
I challenged myself to create a new branding for Lime Studios
that would be more adaptable and recognizable then the last.
This article is a living document that I will continue to
update as my branding developes.

##I. Goals
I set out to create a consistent branding that would be
minimal but with touches of personality. Easy on the
eyes but still interesting.

#Style
The description and spec for the style behind the Lime
Studios Branding.

##I. Color
Color should be sparse and meaningful. For example, try to
tie certain colors to certain parts of your application.
The base of an application should be muted with small
touches of color. When colors are used they should be
bold and clealy stand out.

##II. Icons
This part is under construction.

##III. Imagery
This part is under construction.

##IV. Typography
This part is under construction.

#Layout
The description and spec for the layout and structure
behind all Lime Studios Branding.

##I. Principles
This part is under construction.

##II. Structures
This part is under construction.

#Components
All the base parts of the Lime Studios branding.

##I. Grids
This part is under construction.
