---
post: true
title: Design Spec
subtitle: Design specifications for my branding.
description: Steps I took when I designed the Arrhythmia 2.0 menu.
date: 2014-07-28
css: post
svg: web-design
---

[LESS]: http://lesscss.org/
[Sass]: http://sass-lang.com/
[Grunt]: http://gruntjs.org/
[W3-CSS-Spec]: http://www.w3.org/style/CSS/specs.en.html
[W3-HTML-Spec]: http://www.w3.org/html/wg/drafts/html/master/Overview.html
[resource-autoprefixer]: https://github.com/ai/autoprefixer
[resource-caniuse-css]: http://caniuse.com/#cats=CSS
[resource-caniuse-html]: http://caniuse.com/#cats=HTML5
[resource-prefixfree]: https://github.com/LeaVerou/prefixfree
[resource-recess]: http://twitter.github.io/recess/
[resource-thesassway]: http://thesassway.com

<!--This document formally describes the methods and standards I use when creating code or designs under my brand.-->

#Table of Contents

<div class=table-of-contents>
  {{#markdown}}
  1. [Introduction](#introduction)
  2. [Layout](#layout)
    1. [Principles](#principles)
    2. [Metrics](#metrics)
    3. [Structure](#structure)
  3. [Partials](#partials)
    1. [Header](#header)
    2. [Navigation](#navigation)
    3. [Main](#main)
    4. [Footer](#footer)
  4. [Elements](#elements)
    1. [Block Panels](#block-panels)
  5. [Style](#style)
    1. [Color](#style-color)
    2. [Typography](#style-typography)
    3. [Icons](#style-icons)
    4. [Imagery](#style-imagery)
  6. [Appendix](#appendix)
  {{/markdown}}
</div>

# Introduction
The following are a collection of rules and values I try to adhere to whenever I'm creating work under my brand or for clients.

# Layout

## Principles
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum aliquam mi sed fermentum. Sed a lacus vitae erat hendrerit tempus. Donec scelerisque varius ipsum, id lobortis risus hendrerit in. Vivamus molestie quis quam quis tempor. Donec mattis pellentesque volutpat. Nam et ultrices ante, non ullamcorper metus. Quisque vitae mi eu metus scelerisque pellentesque. Nam ut purus scelerisque, interdum turpis nec, ultrices nisl. Nunc iaculis, nibh semper pretium varius, lorem velit consequat metus, in facilisis neque nibh sit amet arcu.

Sed purus ipsum, scelerisque ut mi quis, cursus lacinia quam. Nulla dapibus consequat ligula. Nulla facilisi. Sed ipsum augue, aliquet eu metus eu, ornare ullamcorper ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce feugiat est sapien, quis faucibus dolor ultricies at. Maecenas tempus, diam non consectetur interdum, erat massa lacinia erat, pretium iaculis enim leo sit amet ante. Sed faucibus erat ac ultrices scelerisque. Morbi pretium vel magna in fringilla. Suspendisse potenti. Aliquam imperdiet nunc interdum neque pharetra porttitor. Nullam nec mauris mauris. Nullam pulvinar, nulla a blandit consectetur, nisi magna euismod quam, et blandit urna dui quis ligula. Pellentesque ut mi ut orci sodales ullamcorper. Fusce ut lacus blandit erat interdum euismod tristique quis diam. Etiam ullamcorper pellentesque lacus, non sagittis arcu condimentum ut.

## Metrics
Vivamus rhoncus eros odio, ornare tincidunt orci aliquam sed. Cras feugiat, sem eu sollicitudin dictum, arcu quam hendrerit enim, a porttitor diam justo ut nunc. Donec est elit, condimentum sed volutpat nec, porttitor consectetur lorem. Donec eleifend eget odio et dapibus. Etiam tincidunt aliquam purus, a commodo tellus commodo ac. Vivamus accumsan turpis dolor, a euismod nibh sollicitudin sed. Sed suscipit leo urna, a convallis felis mollis quis. Mauris viverra ultricies augue sed tempor. Integer volutpat magna tellus, eget bibendum leo elementum ut. Donec ut odio vehicula, adipiscing elit quis, tempus diam. Nunc sit amet consequat felis, et consequat lacus. Nulla iaculis mollis turpis non pulvinar. Cras dignissim in erat et rutrum.

## Structure
Integer malesuada pharetra tortor ac facilisis. Nullam mollis, arcu ac semper posuere, risus erat malesuada est, nec vestibulum sapien nisl lobortis quam. Nunc ac ullamcorper est, vel eleifend nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam turpis tortor, suscipit sit amet auctor et, convallis a diam. Sed erat diam, convallis at lacus sed, euismod gravida enim. Sed pellentesque nisi ac tortor aliquam consectetur. Nulla sapien magna, lobortis sed erat et, ultrices venenatis ipsum. Suspendisse potenti. In facilisis nisi eget quam volutpat, a blandit urna sollicitudin. Nam sit amet pharetra orci, non tempus orci. Curabitur sodales quam vel augue feugiat tempor. In hac habitasse platea dictumst. In rhoncus egestas viverra. Phasellus eget vulputate augue.

# Partials

## Header
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum aliquam mi sed fermentum. Sed a lacus vitae erat hendrerit tempus. Donec scelerisque varius ipsum, id lobortis risus hendrerit in. Vivamus molestie quis quam quis tempor. Donec mattis pellentesque volutpat. Nam et ultrices ante, non ullamcorper metus. Quisque vitae mi eu metus scelerisque pellentesque. Nam ut purus scelerisque, interdum turpis nec, ultrices nisl. Nunc iaculis, nibh semper pretium varius, lorem velit consequat metus, in facilisis neque nibh sit amet arcu.

## Navigation
Integer malesuada pharetra tortor ac facilisis. Nullam mollis, arcu ac semper posuere, risus erat malesuada est, nec vestibulum sapien nisl lobortis quam. Nunc ac ullamcorper est, vel eleifend nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam turpis tortor, suscipit sit amet auctor et, convallis a diam. Sed erat diam, convallis at lacus sed, euismod gravida enim. Sed pellentesque nisi ac tortor aliquam consectetur. Nulla sapien magna, lobortis sed erat et, ultrices venenatis ipsum. Suspendisse potenti. In facilisis nisi eget quam volutpat, a blandit urna sollicitudin. Nam sit amet pharetra orci, non tempus orci. Curabitur sodales quam vel augue feugiat tempor. In hac habitasse platea dictumst. In rhoncus egestas viverra. Phasellus eget vulputate augue.

## Main
Sed purus ipsum, scelerisque ut mi quis, cursus lacinia quam. Nulla dapibus consequat ligula. Nulla facilisi. Sed ipsum augue, aliquet eu metus eu, ornare ullamcorper ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce feugiat est sapien, quis faucibus dolor ultricies at. Maecenas tempus, diam non consectetur interdum, erat massa lacinia erat, pretium iaculis enim leo sit amet ante.

## Footer
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum aliquam mi sed fermentum. Sed a lacus vitae erat hendrerit tempus. Donec scelerisque varius ipsum, id lobortis risus hendrerit in. Vivamus molestie quis quam quis tempor. Donec mattis pellentesque volutpat. Nam et ultrices ante, non ullamcorper metus. Quisque vitae mi eu metus scelerisque pellentesque. Nam ut purus scelerisque, interdum turpis nec, ultrices nisl. Nunc iaculis, nibh semper pretium varius, lorem velit consequat metus, in facilisis neque nibh sit amet arcu.

# Elements

## Block Panels
Nulla condimentum aliquam mi sed fermentum. Sed a lacus vitae erat hendrerit tempus. Donec scelerisque varius ipsum, id lobortis risus hendrerit in. Vivamus molestie quis quam quis tempor. Donec mattis pellentesque volutpat. Nam et ultrices ante, non ullamcorper metus. Quisque vitae mi eu metus scelerisque pellentesque. Nam ut purus scelerisque, interdum turpis nec, ultrices nisl. Nunc iaculis, nibh semper pretium varius, lorem velit consequat metus, in facilisis neque nibh sit amet arcu.