header.article {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @grey;

  .title {
    border: 3px solid @white;
    color: @white;
    padding: 16px;
    text-transform: uppercase;
  }
}
