.main-header {

	width: 100%;
	height: 100vh;
	display: flex;
	overflow:hidden;

	.logo-wrapper {
		z-index:10;
    	position:relative;
		align-self: center;
		padding-bottom: 64px;
		.logo-svg {
			svg {
				fill: @white @important;
			}
		}

		.description {
			color: @white;
			//background-color: fade(@divider-color, 75%);
			padding: 8px;
		}
	}
}

.header-filter {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: @primary-color;

	//filter: grayscale(100%) blur(10px);
}
