.main-header {

	background-color: blue;
	width: 100vw;
	height: 100vh;
	display: flex;

	.logo-wrapper {
		z-index:10;
    	position:relative;
		align-self: center;
		padding-bottom: 64px;
		.logo-svg {
			svg {
				fill: @primary-color @important;
			}
		}

		.description {
			background-color: fade(@divider-color, 75%);
			padding: 8px;
		}
	}
}

.header-filter {
	width: 100vw;
	height: 100vh;
	position: absolute;

	filter: saturate(0.25) opacity(0.75);
}