.nav-main {
	background-color: @white;
	transition: all 0.1 ease;
	.clearfix();
	@media only screen and (max-width: @screen-tablet) {
		padding: 0 16px 16px 16px !important;
		.nav-collapse {
			.clearfix();
			padding: 0 @important;
			.logo {
				//height: 48px @important;
				display: block @important;
				float: none @important;
				margin: 0 auto @important;

				svg {
					padding: 10px @important;
				}
			}

			> ul {
				.clearfix();
				display: block @important;
				float: none @important;
				width: 100% @important;
				text-align: center @important;
				margin-bottom: .5rem @important;

				> li {
					line-height: 16px @important;
				}
			}
		}
	}

	.nav-collapse {
		//border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		margin: 0 auto;
		padding: 0 32px 0 0;
		min-height: 90px;
		.logo {
			a {
				border-bottom: none !important;
				&:hover {
					background: none;
				}
			}
			margin: 0;
			width: 90px;
			height: 90px;
			display: inline-block;
			float: left;
			position: relative;

			&:hover {
				svg {
					fill: @black @important;
				}
			}

			svg {
				transition: all 0.1s ease-out;
				padding: 20px;
				width: 90px;
				height: 90px;
				fill: @primary-color;
			}
		}

		> ul {
			margin: 0;
			float: right;
			margin-bottom: 0;
			margin-top: 0;
			list-style-type: none;

			> li {
				line-height: 90px;
				font-size: 16px;
				letter-spacing: 1px;
				text-align: right;
				display: inline-block;
				position: relative;
				margin: 0 0 0 2em;
			}

			> li:first-child {
				margin: 0;
			}

			@media only screen and (max-width: @screen-widephone) {
				> li {
					margin: 0 0 0 1em;
				}
			}
		}
	}
}

/*
ul.menu {
	.nav-item {
		display: inline-block;
		padding: 0 20px;
		text-decoration: none;

		&:hover {
			background-color: @primary-color;
		}
	}
}

ul.menu-small {
	.hamburger-menu {
		display: inline-block;
		text-decoration: none;
		height: 64px;
		width: 64px;

		svg {
			height: 64px;
			width: 64px;
			padding: 16px 0;

			fill: @black;

			&:hover {
				fill: @primary-color;
			}
		}

		&:focus {
			svg {
				fill: @primary-color;
			}

			~ .nav-content {
				max-height: 400px;
			}
		}
	}

	.nav-content {
		position: absolute;
		top: 64px;
		overflow: hidden;
		background-color: @white;
		max-height: 0;
		box-shadow: 0 3px 3px rgba(0,0,0,.2);

		a {
			line-height: 16px;
			color: @primary-color;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.nav-sub {
		padding: 10px 20px;

		> ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			line-height: 32px;

			> li {
				list-style-type: none;
				margin: 0;
				padding: 0;

				a {
					display: inline-block;
					padding: 5px 0;
				}
			}
		}
	}
}*/

.fixed-nav-bar {
	//position: fixed;
	//top: 0;
	//left: 0;
	//z-index: 9999;
}
