section.portfolio {

	.portfolio-image {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		.title {
			color: @text-icons-color;
			font-size: 32px;
			margin: 16px;
			width: 100%;
			background-color: fade(@divider-color, 75%);
			text-align: center;
			padding: 8px;
		}
	}
}