section.portfolio {

	section.portfolio-element {
		//background: red;
		//outline: 2px solid blue;
		position: relative;
		margin-bottom: 24px;

		.caption {
			border: solid 1px @divider-color @important;
			//transition: .25s ease;
			position: relative;
			background-color: @white @important;
			.logo {
				color: @black;
				padding-top: 16px;
				height: 100px;
			}

			.description {
				color: @black;
				padding: 8px 16px;
				height: 398px;

				.readmore {
					display: block @important;
					white-space: nowrap;
					margin: 16px auto 0 auto;
				}
			}

			.small-image {
				height: 200px;
			}
		}

		.padding {
			height: 500px;
		}

		.portfolio-image {
			background-color: @white @important;
			border: solid 1px @divider-color @important;
			height: 500px;
		}

		@media only screen and (min-width: @screen-phone) and (max-width: @screen-widephone) {
			.portfolio-image {
				height: 350px;
			}
		}
	}
}
