section.social-media {
  padding: 0 16px;
  .social-media-element {
    border-bottom: solid 1px @black;
    transition: all 0.25s ease-out;
    padding: 16px;
    color: @white;

    &.twitter {
      background: #55ACEE;
    }

    &.pixiv {
      background: rgb(2,151,219);
    }

    &.youtube {
      background: #e52d27;
    }

    &.dribbble {
      background: #ea4c89;
    }

    &:hover {
      background: @black;
      color: @white;
    }

    &:active {
      color: @white;
      background: @black;
    }

    @media only screen and (max-width: @screen-widephone) {
      padding: 16px 0;
      text-align: center;
    }
  }
}
