section.social-media {
  margin-top: 48px;
  div {
    padding: 16px;
    a {
      line-height: 75px;
      text-align: center;
      border-radius: 100%;
      display: block;
      height: 75px;
      width: 75px;
      margin: 0 auto;
      background: @black;
      color: @white;
      transition: all 0.2s ease-out;
      box-shadow:rgba(0, 0, 0, 0.3) 0 0px 0px 0;

      &:hover {
        box-shadow:rgba(0, 0, 0, 0.3) 0 8px 8px 0;
        background: @white;
        color: @black;
      }
    }
  }
}
